.main-of-page
    position: static !important
    margin-left: 320px
    margin-top: 90px
    > .article-public
        width: 75%
        margin: auto
        padding: 15px
        border-radius: 7px
        background: white
        box-shadow: 0px 0px 7px 1px rgba(black , .5) inset, 0px 0px 7px 0px rgba(white , 1)
        > *
            box-sizing: border-box
        h5
            padding: 0
            margin: 0
            text-align: center
            font-size: 28px
            font-weight: 500
            padding-bottom: 15px
            text-shadow: 1px 2px 5px rgba($color-2-hex, .5)
            border-bottom: 5px solid $color-2-hex
        .pregunta
            margin-top: 25px
            text-align: center
            > *
                font-family: $fuente2
                font-size: 22px
            p
                display: inline-block
                margin: 20px 0px
                padding: 7px 15px
                border: 7px solid $color-2-hex
                border-bottom: 7px solid white
            label
                text-align: right
                margin-right: 15px
                vertical-align: top
                width: 30%
            input, textarea
                width: 60%
                background-image: linear-gradient($color-2-hex 10%,$color-1-hex 100%)
                border: 7px solid white
                border-bottom: 7px solid $color-2-hex
                border-top-left-radius: 7px
                border-top-right-radius: 7px
                font-weight: 500
                font-size: 20px
                padding: 7px 10px
                color: white
                &:hover, &:focus
                            transition: all .3s ease
                            background-image: linear-gradient($color-1-hex 10%,$color-2-hex 100%)
                &:active
                    transition: all .01s ease
                    box-shadow: 2px 3px 5px 3px #00000080 inset, 0 0 5px 1px rgba(#000, .28)
            textarea
                max-width: 60%
                min-width: 60%
                min-height: 150px
                max-height: 600px
            input[type="submit"]
                color: black
                text-shadow: 1px 2px 5px white
                font-size: 24px
                font-weight: 500 !important
                border: none
                border-radius: 7px
                box-shadow: 0 1px 1px 1px rgba(255,255,255,.5) inset, 0 0 3px 1px rgba(#000, .4) !important
                background-image: linear-gradient($color-3-hex 10%,$color-4-hex 100%)
                &:hover, &:focus
                    cursor: pointer
                    transition: all .3s ease
                    background-image: linear-gradient($color-4-hex 10%,$color-3-hex 100%)
                &:active
                    transition: all .01s ease
                    box-shadow: 2px 3px 5px 3px #00000080 inset, 0 0 5px 1px rgba(#000, .28) !important

@media screen and ( max-width: 768px )
    .main-of-page
        > .article-public
            width: 100% !important
            .pregunta
                label
                    width: 80%
                input, textarea
                    width: 80%
                textarea
                    max-width: 80%
                    min-width: 80%