@import articulos
body
    main
        .main-of-page
            position: absolute
            left: 360px
            top: 90px
            .articles
                font-family: $fuente2
                width: 75%
                margin: auto
                *
                    margin: 0
                    padding: 0
                .group-articles
                    display: flex
                    flex-direction: row
                    flex-wrap: wrap
                    justify-content: space-between
                    @include articulos(47%)
    .pet
        *
            margin: 0
            padding: 0
        .container
            position: absolute
            left: 360px
            top: 90px
            @include articulos(100%)
            .pet-page
                font-family: $fuente2
                width: 75%
                margin: auto
