@media screen and ( max-width: 1300px )
    body
        header
            .navigation
                .buscador
                    input[type="search"]
                        width: 300px
        main
            .info
                display: none
            .main-of-page, .container
                position: static !important
                margin: auto
                margin-top: 116px
                margin-bottom: 30px
                .articles, .pet-page
                    width: 85%

@media screen and ( max-width: 1000px )
    body
        margin-bottom: 80px
    .navegacion-movil
        &>.buttons-navigation
            padding-left: 0px !important
            border-top: 3px solid $color-2-hex
            position: fixed
            bottom: 0px
            left: 0px
            right: 0px
            width: 100vw
            display: flex
            flex-wrap: nowrap
            justify-content: space-around
            li
                border-bottom: 3px solid $color-1-hex
                width: 15%
                margin-left: 0px
                a
                    &:hover .icon-button
                    color: $color-2-hex
                    padding: 10px
                    .icon-button
                        font-size: 25px
                        color: $color-4-hex
                    .text-button
                        display: none
    header
        .navigation
            justify-content: space-around !important
            .buscador
            .buttons-navigation
                display: none !important

    .image-contact, .about-pet
                width: 100% !important
