@media screen and ( max-width: 768px )
    body
        header
            .navigation
                display: flex
                flex-direction: column
                .logo
                    a
                        img
                            height: 35px
                        .letters-logo
                            h1
                                font-size: 28px
                            h2
                                display: none !important
                .buscador
                    margin-top: 7px
                    input[type="search"]
                        width: 80%
                        padding: 1px 7px
        main
            .articles, .container
                width: 90%
                .article-about-sharing,.article-about-adopt
                    width: 100% !important
                    flex-wrap: wrap !important
                    .user-time,.buttons-comment-love
                        width: 100% !important
                .type-sharing
                    max-height: 100% !important
                    .article-sharing-content-view
                        flex-direction: column !important
                        .article-sharing-text,.image-article-sharing
                            overflow: hidden !important
                            width: 95% !important
                            padding: 10px
                .type-adopt
                    width: 100% !important
    .image-article-sharing
        border-radius: 0px !important
        img
            border-radius: 0px !important

@media screen and ( max-width: 576px )
    .articles, .container
        width: 100% !important
        .type-sharing,.type-adopt
            border-radius: 0px !important
            .get-pet
                border-bottom-left-radius: 0px !important
                border-bottom-right-radius: 0px !important
    .image-article-sharing
        img
            width: 100% !important
