/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in HSLA */
*::-moz-selection {
  background: #A67291;
  color: #9DC6C9;
}
*::selection {
  background: #A67291;
  color: #9DC6C9;
}

body {
  background: #f0f0f0;
}

img {
  vertical-align: top;
}

body header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  background: #9DC6C9;
}

body header .navigation {
  -webkit-box-shadow: 0 0 5px 1px #6aa899;
          box-shadow: 0 0 5px 1px #6aa899;
  padding: 8px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .navigation .logo a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body header .navigation .logo a img {
  height: 40px;
}

body header .navigation .logo a .letters-logo {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header .navigation .logo a .letters-logo h1 {
  margin: 0;
  color: #A67291;
  padding: 0;
  font-family: "Stardos Stencil", cursive;
  font-weight: 300;
}

body header .navigation .logo a .letters-logo h2 {
  margin: 0;
  padding: 0;
  color: #D98292;
  text-align: right;
  font-size: 14px;
  margin-top: -5px;
  font-weight: 300;
}

body header .navigation .buscador {
  background: white;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid black;
}

body header .navigation .buscador input[type="search"] {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px 14px;
  width: 450px;
  float: left;
  border: none;
  border-right: 1px solid black;
}

body header .navigation .buscador .search-icon {
  float: left;
  margin-top: 4px;
  padding: 0 7px;
}

body header .navigation .buscador .search-icon a {
  font-size: 18px;
  color: #A67291;
}

body header .navigation .buttons-navigation {
  margin: 0;
  margin-bottom: -4px;
  margin-right: 15px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body header .navigation .buttons-navigation li {
  margin-left: 30px;
}

body header .navigation .buttons-navigation li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header .navigation .buttons-navigation li a .icon-button {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #3E8C8C;
  text-align: center;
}

body header .navigation .buttons-navigation li a .text-button {
  margin: 0;
  margin-top: 7px;
  color: #2e2e2e;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 550;
}

body header .navigation .buttons-navigation li:hover .text-button {
  text-decoration: underline;
}

body main {
  overflow: hidden;
}

body main .info {
  overflow: scroll;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  z-index: 1;
  width: 350px;
  background: #A67291;
  padding: 0 15px;
  padding-top: 70px;
}

body main .info .settings-user {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  text-align: right;
  font-size: 16px;
  text-decoration: none;
  color: #f0f0f0;
  font-family: "Source Sans Pro", sans-serif;
}

body main .info .settings-user:hover {
  text-decoration: underline;
}

body main .info .info-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .info .info-user .image-profile {
  margin-bottom: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .info .info-user .image-profile img {
  border-radius: 50%;
  width: 200px;
  -webkit-box-shadow: 0 0 7px 1px #A67291;
          box-shadow: 0 0 7px 1px #A67291;
}

body main .info .info-user > h3, body main .info .info-user h4 {
  color: #2e2e2e;
  text-align: center;
  margin: 0;
  padding: 0;
}

body main .info .info-user > h3 {
  font-size: 36px;
  font-weight: 500;
  font-family: "Roboto Slab", serif;
  margin-bottom: 5px;
}

body main .info .info-user > h4 {
  font-size: 22px;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 3px solid #A67291;
}

body main .info .info-user .user-stadistics {
  margin: 35px 0;
}

body main .info .info-user .user-stadistics p {
  color: #2e2e2e;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

body main .info .info-user .user-stadistics p span {
  text-decoration: underline;
}

body main .info .info-user .user-level-info {
  font-family: "Source Sans Pro", sans-serif;
}

body main .info .info-user .user-level-info .level {
  font-size: 32px;
  font-weight: 400;
}

body main .info .info-user .user-level-info > p {
  color: #c49705;
}

body main .info .info-user .user-level-info .user-level {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

body main .info .info-user .user-level-info .icon-level {
  font-size: 100px;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: -26px;
  margin-bottom: 15px;
}

body main .info .info-user .user-level-info > a {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: #f0f0f0;
}

body main .info .info-user .user-level-info > a:hover {
  text-decoration: underline;
}

body main .main-of-page {
  position: absolute;
  left: 360px;
  top: 90px;
}

body main .main-of-page .articles {
  font-family: "Source Sans Pro", sans-serif;
  width: 75%;
  margin: auto;
}

body main .main-of-page .articles * {
  margin: 0;
  padding: 0;
}

body main .main-of-page .articles .group-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .main-of-page .articles .group-articles .type-sharing, body main .main-of-page .articles .group-articles .type-adopt {
  overflow: hidden;
  position: relative;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  min-height: 100%;
  margin-bottom: 30px;
  background: white;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 10px 2px #2e2e2e;
          box-shadow: 0 0 10px 2px #2e2e2e;
}

body main .main-of-page .articles .group-articles .article-about-sharing, body main .main-of-page .articles .group-articles .article-about-adopt {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .main-of-page .articles .group-articles .article-about-sharing .user-time, body main .main-of-page .articles .group-articles .article-about-sharing .buttons-comment-love, body main .main-of-page .articles .group-articles .article-about-adopt .user-time, body main .main-of-page .articles .group-articles .article-about-adopt .buttons-comment-love {
  padding: 0;
  margin: 0;
  width: 50%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 7px 10px;
  font-size: 15px;
}

body main .main-of-page .articles .group-articles .article-about-sharing .user-time, body main .main-of-page .articles .group-articles .article-about-adopt .user-time {
  background: #969696;
}

body main .main-of-page .articles .group-articles .article-about-sharing .user-time p, body main .main-of-page .articles .group-articles .article-about-adopt .user-time p {
  color: #f0f0f0;
  margin-top: 5px;
  text-decoration: underline;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body main .main-of-page .articles .group-articles .article-about-sharing .user-time p:hover, body main .main-of-page .articles .group-articles .article-about-adopt .user-time p:hover {
  color: #3E8C8C;
  cursor: pointer;
}

body main .main-of-page .articles .group-articles .article-about-sharing .user-time .user-info-article, body main .main-of-page .articles .group-articles .article-about-adopt .user-time .user-info-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-line-pack: center;
      align-content: center;
}

body main .main-of-page .articles .group-articles .article-about-sharing .user-time .user-info-article .image-profile, body main .main-of-page .articles .group-articles .article-about-adopt .user-time .user-info-article .image-profile {
  margin-right: 7px;
  width: 25px;
  overflow: hidden;
  border-radius: 50%;
}

body main .main-of-page .articles .group-articles .article-about-sharing .user-time .user-info-article .image-profile img, body main .main-of-page .articles .group-articles .article-about-adopt .user-time .user-info-article .image-profile img {
  width: 100%;
}

body main .main-of-page .articles .group-articles .article-about-sharing .buttons-comment-love, body main .main-of-page .articles .group-articles .article-about-adopt .buttons-comment-love {
  background: #d1d1d1;
  font-size: 20px;
}

body main .main-of-page .articles .group-articles .article-about-sharing .buttons-comment-love .icon-love, body main .main-of-page .articles .group-articles .article-about-sharing .buttons-comment-love .icon-comment, body main .main-of-page .articles .group-articles .article-about-adopt .buttons-comment-love .icon-love, body main .main-of-page .articles .group-articles .article-about-adopt .buttons-comment-love .icon-comment {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body main .main-of-page .articles .group-articles .article-about-sharing .buttons-comment-love .icon-love:hover, body main .main-of-page .articles .group-articles .article-about-adopt .buttons-comment-love .icon-love:hover {
  color: #b61f3f;
}

body main .main-of-page .articles .group-articles .article-about-sharing .buttons-comment-love .icon-comment:hover, body main .main-of-page .articles .group-articles .article-about-adopt .buttons-comment-love .icon-comment:hover {
  color: #6AA899;
}

body main .main-of-page .articles .group-articles .article-about-sharing .buttons-comment-love p, body main .main-of-page .articles .group-articles .article-about-adopt .buttons-comment-love p {
  margin-top: 3px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body main .main-of-page .articles .group-articles .article-about-sharing .buttons-comment-love p:hover, body main .main-of-page .articles .group-articles .article-about-adopt .buttons-comment-love p:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

body main .main-of-page .articles .group-articles .type-sharing {
  width: 100%;
  max-height: 320px;
}

body main .main-of-page .articles .group-articles .type-sharing .article-sharing-content-view {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .main-of-page .articles .group-articles .type-sharing .article-sharing-content-view .article-sharing-text, body main .main-of-page .articles .group-articles .type-sharing .article-sharing-content-view .image-article-sharing {
  width: 50%;
  padding: 10px 20px;
}

body main .main-of-page .articles .group-articles .type-sharing .article-sharing-content-view .article-sharing-text {
  overflow: scroll;
}

body main .main-of-page .articles .group-articles .type-sharing .article-sharing-content-view .article-sharing-text .title-article {
  color: #2e2e2e;
  font-family: "Roboto Slab", serif;
  margin-bottom: 10px;
}

body main .main-of-page .articles .group-articles .type-sharing .article-sharing-content-view .article-sharing-text p {
  color: #2e2e2e;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: left;
}

body main .main-of-page .articles .group-articles .type-sharing .article-sharing-content-view .image-article-sharing {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .main-of-page .articles .group-articles .type-sharing .article-sharing-content-view .image-article-sharing img {
  border-radius: 7px;
  margin: auto;
  max-height: 300px;
}

body main .main-of-page .articles .group-articles .type-adopt {
  width: 47%;
}

body main .main-of-page .articles .group-articles .type-adopt .article-about-adopt {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .main-of-page .articles .group-articles .type-adopt .article-about-adopt .user-time, body main .main-of-page .articles .group-articles .type-adopt .article-about-adopt .buttons-comment-love {
  width: 100%;
}

body main .main-of-page .articles .group-articles .type-adopt .article-about-adopt .buttons-comment-love {
  padding: 7px 25px;
}

body main .main-of-page .articles .group-articles .type-adopt .article-adop-content-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

body main .main-of-page .articles .group-articles .type-adopt .article-adop-content-view .about-pet, body main .main-of-page .articles .group-articles .type-adopt .article-adop-content-view .image-reasons {
  width: 50%;
}

body main .main-of-page .articles .group-articles .type-adopt .article-adop-content-view .about-pet {
  background: #2e2e2e;
  color: #f0f0f0;
  padding: 10px;
}

body main .main-of-page .articles .group-articles .type-adopt .article-adop-content-view .about-pet .name-pet {
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-size: 16px;
  margin-bottom: 7px;
}

body main .main-of-page .articles .group-articles .type-adopt .article-adop-content-view .about-pet .about-pet {
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 18px;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
}

body main .main-of-page .articles .group-articles .type-adopt .article-adop-content-view .image-reasons .image-pet img {
  width: 100%;
}

body main .main-of-page .articles .group-articles .type-adopt .article-adop-content-view .image-reasons .reasons {
  padding: 10px;
  color: #2e2e2e;
}

body main .main-of-page .articles .group-articles .type-adopt .article-adop-content-view .image-reasons .reasons h5 {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  margin-bottom: 7px;
}

body main .main-of-page .articles .group-articles .type-adopt .article-adop-content-view .image-reasons .reasons p {
  margin: 0;
  padding: 0;
  line-height: 16px;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
}

body main .main-of-page .articles .group-articles .type-adopt .state-pet {
  padding: 8px 0px;
  background: #969696;
}

body main .main-of-page .articles .group-articles .type-adopt .state-pet h6 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

body main .main-of-page .articles .group-articles .type-adopt .get-pet {
  border: 2px solid #b61f3f;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}

body main .main-of-page .articles .group-articles .type-adopt .get-pet a {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  padding: 12px 16px;
  background: #b61f3f;
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 500;
  font-family: "Source Sans Pro", sans-serif;
}

body main .main-of-page .articles .group-articles .type-adopt .get-pet a i {
  color: #3E8C8C;
}

body main .main-of-page .articles .group-articles .type-adopt .get-pet:hover {
  border: 2px solid #3E8C8C;
}

body main .main-of-page .articles .group-articles .type-adopt .get-pet:hover a {
  background: #9DC6C9;
  display: block;
  text-decoration: underline;
  color: #A67291;
}

@media screen and (max-width: 1300px) {
  body header .navigation .buscador input[type="search"] {
    width: 300px;
  }
  body main .info {
    display: none;
  }
  body main .main-of-page {
    position: static;
    margin-top: 116px;
  }
  body main .main-of-page .articles {
    width: 85%;
  }
}

@media screen and (max-width: 1000px) {
  header .navigation {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  header .navigation .buttons-navigation {
    display: none !important;
  }
}

@media screen and (max-width: 1550px) {
  body main .main-of-page .articles {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  body header .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body header .navigation .buscador input[type="search"] {
    width: 80%;
  }
  body main .main-of-page .articles {
    width: 90%;
  }
  body main .main-of-page .articles .group-articles .article-about-sharing, body main .main-of-page .articles .group-articles .article-about-adopt {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .main-of-page .articles .group-articles .article-about-sharing .user-time, body main .main-of-page .articles .group-articles .article-about-sharing .buttons-comment-love, body main .main-of-page .articles .group-articles .article-about-adopt .user-time, body main .main-of-page .articles .group-articles .article-about-adopt .buttons-comment-love {
    width: 100% !important;
  }
  body main .main-of-page .articles .group-articles .type-sharing {
    max-height: 100%;
  }
  body main .main-of-page .articles .group-articles .type-sharing .article-sharing-content-view {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .main-of-page .articles .group-articles .type-sharing .article-sharing-content-view .article-sharing-text, body main .main-of-page .articles .group-articles .type-sharing .article-sharing-content-view .image-article-sharing {
    overflow: hidden !important;
    width: 95%;
    padding: 10px;
  }
  body main .main-of-page .articles .group-articles .type-sharing .article-sharing-content-view .article-sharing-text img, body main .main-of-page .articles .group-articles .type-sharing .article-sharing-content-view .image-article-sharing img {
    vertical-align: top;
  }
  body main .main-of-page .articles .group-articles .type-adopt {
    width: 100%;
  }
}
/*# sourceMappingURL=master.css.map */