/* Color Theme Swatches in Hex */
$color-1-hex: #D98292
$color-2-hex: #A67291
$color-3-hex: #9DC6C9
$color-4-hex: #3E8C8C
$color-5-hex: #6AA899
$color-6-hex: #f7f7f7

/* Color Theme Swatches in RGBA */
$color-1-rgba: rgba(217,130,146, 1)
$color-2-rgba: rgba(166,114,145, 1)
$color-3-rgba: rgba(157,198,201, 1)
$color-4-rgba: rgba(62,140,140, 1)
$color-5-rgba: rgba(106,168,153, 1)

/* Color Theme Swatches in HSLA */
$color-1-hsla: hsla(348, 53, 68, 1)
$color-2-hsla: hsla(324, 22, 54, 1)
$color-3-hsla: hsla(184, 28, 70, 1)
$color-4-hsla: hsla(180, 38, 39, 1)
$color-5-hsla: hsla(165, 26, 53, 1)

*::selection
    background: $color-2-hex
    color: $color-3-hex

body
    background: $color-6-hex


@import header
@import aside